
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bimage{
    background-image: url(image/Hero-bg.png);

height:680px;
}
.btn{
    height: 50px;
    background-color: black;
    border-radius: 5px;
color:rgb(157, 183, 231)


}
.center {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    
  }
  .center1{
    display: block;
    margin-left: 500px;
    margin-right: 0px;
    width: 30%; 
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }
  .center2{
    display: block;
    margin-top: 50px;
    margin-left: 480px;
    margin-right: 20px;
    width: 30%; 
    font-size: 15px;
    text-align: center;
    
  }
  .page{
display: flex;
justify-content: space-between;
    background-color:white
  
    
  }
  .page1{
    display: flex;
    justify-content: space-between;
    
        background-color:  rgba(253, 251, 251, 0.952);
      
        
      }
  .mainpart{
    background-color: rgba(253, 251, 251, 0.952);
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
  }
  .videopart{
    display: block;
    width: auto;
    border: 10px;
    border-color: rgb(15, 7, 7);
    padding-left: 30px;
    background-color: white;
  
  }
  .bgcolor{
    background-color:white
  }
  .card{

    display:flex
    

  }
  .card1{
height: 300px;
width: 380px;
    margin-right: 15px;
margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color:linen;
    
  }
  .card2{
    height: 300px;
width: 380px;
    margin-right: 15px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color:lavender;
  }
  .card3{
    height: 300px;
width: 380px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color:lightyellow;
  }
  .btn1{
    
    height: 30px;
    background-color:white;
    border-radius: 5px;
color:black}

.footerimage{
  background-image: url(image/handshake.jpg);
  height:680px;
}
.foot{

  margin:100px 100px 100px 100px;
padding: 50px;

}
.inputf{
margin:100 px,100 px,100 px,100 px;
  
}
footer input[type="text"]{
  height: 50 px;
  width:80%;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: none;
}
